POSTGRES_USER=libredesk
POSTGRES_DB=libredesk
POSTGRES_PASSWORD=generate-a-random-value
REDIS_PASSWORD=generate-a-random-value
LIBREDESK_ENCRYPTION_KEY=generate-exactly-32-hex-characters
LIBREDESK_SYSTEM_USER_PASSWORD=generate-a-random-value
LIBREDESK_PORT=9000
# LIBREDESK_IMAGE=ghcr.io/crownsis/libredesk:commit-sha
